.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg-white {
  background-color: #fff !important;
  color: black !important;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.primary-button {
  background-color: red;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

hr {
  margin: 150px 0;
}

a {
  text-decoration: none;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}