@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: dimgray;
}

.container {
    max-width: 1280px;
    margin: auto; 
}

header nav {
    padding: 10px 50px;
}

header {
    background-color: red;
    padding: 15px 0;
}

header img {
    border-radius: 100%;
    background-color: white;
    padding: 10px;
    width: 50px;
}

header small {
    color:white;
}

nav ul li a{
    color: white;
    text-decoration: underline;
    list-style-type: none;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline;
    text-decoration: underline;
    margin-right: 15px;
}

footer {
    background-color: red;
    padding: 40px 0px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul {
    margin-bottom: 20px;
}

address {
    color: white;
}

.about-dbc {
    text-align: center;
    padding: 40px 0;
}

.about-dbc h1{
    margin-bottom: 40px;
}

.dbc-text {
    padding: 20px 0;
}

.dbc-text p {
    line-height: 20px;
    margin-bottom: 10px;
}